<div class="animated fadeIn">

  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          Reservations
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-lg-10"></div>
            <div class="col-lg-2" style="text-align:right;">
              <button class="btn btn-info" type="button" style="margin-bottom:10px; margin-right:5px;" (click)="openModalWithComponent()">Add Reversation</button>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <strong>Filter</strong>
            </div>
            <div class="card-body">
              <p>Search:</p>
              <div class="row">
                <div class="col-lg-3">
                  <input type="text" [(ngModel)]="model.myDate" placeholder="Datepicker" class="form-control" style="margin-top:25px;" bsDatepicker>
                </div>
                <div class="col-lg-2">
                  <timepicker [(ngModel)]="model.myTime" class="ng-untouched ng-valid ng-dirty">
                    <table>
                      <tbody>
                        <tr class="text-center">
                          <td>
                            <a class="btn btn-link">
                              <span class="bs-chevron bs-chevron-up"></span>
                            </a>
                          </td>
                          <!---->
                          <td>&nbsp;&nbsp;&nbsp;</td>
                          <!---->
                          <td>
                            <a class="btn btn-link">
                              <span class="bs-chevron bs-chevron-up"></span>
                            </a>
                          </td>
                          <!---->
                          <!---->
                          <!---->
                          <td>&nbsp;&nbsp;&nbsp;</td>
                          <!---->
                          <td></td>
                        </tr>
                        <tr>
                          <td class="form-group">
                            <input class="form-control text-center bs-timepicker-field" maxlength="2" placeholder="HH" type="text">
                          </td>
                          <!---->
                          <td>&nbsp;:&nbsp;</td>
                          <!---->
                          <td class="form-group">
                            <input class="form-control text-center bs-timepicker-field" maxlength="2" placeholder="MM" type="text">
                          </td>
                          <!---->
                          <!---->
                          <!---->
                          <td>&nbsp;&nbsp;&nbsp;</td>
                          <!---->
                          <td>
                            <button class="btn btn-default text-center" type="button">AM </button>
                          </td>
                        </tr>
                        <tr class="text-center">
                          <td>
                            <a class="btn btn-link">
                              <span class="bs-chevron bs-chevron-down"></span>
                            </a>
                          </td>
                          <!---->
                          <td>&nbsp;&nbsp;&nbsp;</td>
                          <!---->
                          <td>
                            <a class="btn btn-link">
                              <span class="bs-chevron bs-chevron-down"></span>
                            </a>
                          </td>
                          <!---->
                          <!---->
                          <!---->
                          <td>&nbsp;&nbsp;&nbsp;</td>
                          <!---->
                          <td></td>
                        </tr>
                      </tbody>
                    </table>
                  </timepicker>
                </div>
                <div class="col-lg-7">
                  <fieldset class="form-group" style="margin-top: 25px; min-width:200px;max-width:400px;">
                    <ng-select [(ngModel)]="model.selectedLabs" [items]="labNames" [multiple]="false" class="bootstrap ng-untouched ng-pristine ng-valid" placeholder="Choose your lab">
                      <div class="below" tabindex="0">
                        <div class="multiple">
                          <input autocomplete="on" tabindex="-1" style="width: 1px;" placeholder="">
                        </div>
                      </div>
                    </ng-select>
                  </fieldset>
                </div>
              </div>
              <div class="row">
                <button class="btn btn-info" (click)="filter()" type="button">update</button>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="btn-group btn-group-toggle float-right mr-3" data-toggle="buttons" style="margin-left:15px;margin-bottom:5px;">
              <label btnradio="Recent" (click)="init()" class="btn btn-outline-secondary ng-valid ng-touched ng-dirty" id="option1" aria-pressed="false">Recent</label>
              <label btnradio="My Reservation" (click)="init()" class="btn btn-outline-secondary ng-valid ng-touched ng-dirty" id="option2" aria-pressed="false">My Reservations</label>
            </div>
          </div>
          <table class="table table-responsive-sm table-hover table-outline mb-0">
            <thead class="thead-light">
              <tr>
                <th class="text-center">Lab Name</th>
                <th class="text-center">Description</th>
                <th class="text-center">Booked by</th>
                <th class="text-center">Date</th>
                <th class="text-center">Status</th>
                <th class="text-center">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let rev of reservationData">
                <td>
                  <div>{{rev.labId.name}}</div>
                  <div class="small text-muted">
                    <span>{{rev.labId.description}}</span> | {{rev.labId.location}}
                  </div>
                </td>
                <td class="text-center">
                  <p>{{rev.description}}</p>
                </td>
                <td class="text-center">
                  <div>{{rev.userId.name}}</div>
                  <div class="small text-muted">
                    <span>{{rev.userId.type}}</span> | {{rev.userId.contactNumber}}
                  </div>
                </td>
                <td class="text-center">
                  <strong>{{rev.startDate | date:'medium'}}-{{rev.endDate | date:'mediumTime'}}</strong>
                </td>
                <td class="text-center">
                  <div *ngIf="rev.status==='booked'">
                    <span class="badge badge-success">Booked</span>
                  </div>
                  <div *ngIf="rev.status==='pending'">
                    <span class="badge badge-primary">Pending</span>
                  </div>

                </td>
                <td class="text-center">
                  <button class="btn btn-ghost-primary" id ="{{rev._id}}" (click)="editModelWithComponent($event)" type="button">
                    <i class="fa fa-lightbulb-o"></i>&nbsp;Edit</button>
                </td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>